@font-face {
  font-family: IRANSansWeb;
  src: url("/assets/fonts/IRANSansWeb.eot");
  src: url("/assets/fonts/IRANSansWeb.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/IRANSansWeb.woff") format("woff"),
    url("/assets/fonts/IRANSansWeb.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: IRANSansWeb;
  src: url("/assets/fonts/IRANSansWeb_Bold.eot");
  src: url("/assets/fonts/IRANSansWeb_Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/IRANSansWeb_Bold.woff") format("woff"),
    url("/assets/fonts/IRANSansWeb_Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: IRANSansWeb;
  src: url("/assets/fonts/IRANSansWeb_Light.eot");
  src: url("/assets/fonts/IRANSansWeb_Light.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/IRANSansWeb_Light.woff") format("woff"),
    url("/assets/fonts/IRANSansWeb_Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: IRANSansWeb;
  src: url("/assets/fonts/IRANSansWeb_Medium.eot");
  src: url("/assets/fonts/IRANSansWeb_Medium.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/IRANSansWeb_Medium.woff") format("woff"),
    url("/assets/fonts/IRANSansWeb_Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: IRANSansWeb;
  src: url("/assets/fonts/IRANSansWeb_Black.eot");
  src: url("/assets/fonts/IRANSansWeb_Black.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/IRANSansWeb_Black.woff") format("woff"),
    url("/assets/fonts/IRANSansWeb_Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: IRANSansWeb;
  src: url("/assets/fonts/IRANSansWeb_UltraLight.eot");
  src: url("/assets/fonts/IRANSansWeb_UltraLight.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/IRANSansWeb_UltraLight.woff2") format("woff2"),
    url("/assets/fonts/IRANSansWeb_UltraLight.woff") format("woff"),
    url("/assets/fonts/IRANSansWeb_UltraLight.ttf") format("truetype");
  font-weight: 100;
}

body {
  background-color: rgb(234, 234, 234) !important;
  direction: rtl;
}

body *:not(i) {
  font-family: IRANSansWeb !important;
}

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(
    45deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
}

/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-right: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/*end home page styles*/

/* toast styles */
.Toastify__toast-body {
  text-align: right;
}
/* end toast styles */

.DatePicker {
  width: 100%;
  /* added this because the semantic ui select goes under the datepicker */
  z-index: 9;
}

/* start react modern datepicker calendar */

.responsive-calendar {
  /* by setting font-size, all the elements will correspond */
  font-size: 9px !important; /* default to 10px */
}

@media (max-width: 1500px) {
  .responsive-calendar {
    /* commented the default style */
    /* font-size: 8px !important; */
    font-size: 7px !important;
  }
}

@media (max-width: 1200px) {
  .responsive-calendar {
    font-size: 7px !important;
  }
}

@media (max-width: 768px) {
  .responsive-calendar {
    font-size: 6px !important;
  }
}

/* Large screens */
@media (min-width: 2500px) {
  .responsive-calendar {
    font-size: 12px !important;
  }
}
/* end react modern datepicker calendar */
